.rectangle__wrapper{
    width:100px;
    flex-direction: column;
display:flex;
justify-content: center;
align-content: center;

}

.task{
    width:300px;
}

.data{
    
    width:100px;
}
.index{
width:30px;
}
.delete{
width:100px;
}
.done{
width:100px;
}